.main {
    margin: 0px;
    padding: 0px;
}

.gallery {
    width: 80%;
    height: 100vh;
    display: grid;
    margin: 0px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.gallery img {
    width: 200px;
}

.gallery img:hover {
    opacity: 0.5;
    transition: 0.4s;
}